Source: makejail
Section: admin
Priority: optional
Maintainer: Javier Fernandez-Sanguino Pen~a <jfs@computer.org>
Build-Depends-Indep: docbook-to-man, python (>=2.2)
Build-Depends: debhelper (>> 3.0.0), po-debconf
Standards-Version: 3.7.3
Homepage: http://www.floc.net/makejail/

Package: makejail
Architecture: all
Depends: python (>= 2.2), python (<< 3), psmisc, strace, binstats, debconf
Description: Automatically create chroot jails for programs
 Makejail helps an administrator to create and update a chroot jail
 using short configuration files. If not enough information is 
 provided in these it will attempt to guess which files are required
 by the daemon and will install all of them in the jail.
